PROJECT_NAME=app
BACKEND_CORS_ORIGINS=["*"]

#############################################
# Caddy variables
#############################################
EXT_ENDPOINT1=127.0.0.1
LOCAL_1=localhost
LOCAL_2=127.0.0.1